@import 'https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap';

:root{
$orange: orange;
$lightOrange:#f5ddbf;
$white:#FFFF;
$contrastWhite:#FCFCFD;
$quarterSpanishWhite :#f8efe4;
$antiFlashWhite:#F1F1F3;
$fontFamily : 'Be Vietnam Pro'
}