@import "../../Scss/main.scss";

.monthly_yearly_button{
    
    .monthly_Link,
    .yearly_Link{
            display: block;
            text-decoration: none;
            background-color: transparent;
            color: #000;
            padding: 10px;
            border-radius: 5px;
    }

    .monthly_Link:active,
    .monthly_Link:hover,
    .monthly_Link:focus,
    .yearly_Link:active,
    .yearly_Link:hover,
    .yearly_Link:focus{
        background-color: orange;
        color: #ffff;
    }
      

}

.plan_container {

    .plan_type {
        background-color: $quarterSpanishWhite;
        border: 1px solid $lightOrange;
    }

    .price{
        font-size: 40px;
    }

    .get_started_button
    {
        background-color: $orange;
    border-radius: 0px 0px 5px 5px;
    }

    .available_features_container{
        border-radius: 5px 5px 0px 0px; 
    }

}